/* See https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header{
    padding: 2rem;
}

main{
    width: 75%;
    float: left;
    padding: 2rem;
}

aside{
    width: 25%;
    float: left;
    padding: 2rem;
}

footer{
    clear: both;
    padding: 2rem;
    text-align: center;
}
